html {
  font-size: 22px   

}

body { 
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);

}  

a {
     color: rgb(18, 0, 216);
}

a:visited {
      color: rgb(18, 0, 216);
}

a:hover, a:active {
   color:#1f01ff;
}

table, tr, th, td, caption{
  border: 1px solid #000000;
  font-family: 'Courier New', Courier, monospace;
  border-collapse: collapse;
  padding: 0.5rem;
}